@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "PT Serif", serif;
}

.custom-scrollbar {
  overflow-y: scroll;
  height: 300px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f5f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4f6f52;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1a2f23;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4f6f52 #f3f5f0;
}